{% extends "home.html" %}
{% block content %}
<h1>Create a Post</h1>

<form id="post_form" method='POST'>
  {% csrf_token %}
  {{ create_post_form.as_p }}
  <button type="submit" name="btn_post">Confirm</button>
</form>

<script>
    var onLoaded = function() {
        var location_input = document.getElementById('id_location');
        var autocomplete = new google.maps.places.Autocomplete(location_input);

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ2H-4oqs0b1pBNXtwydP-ne7BF6OX8DI&libraries=places&callback=onLoaded" async defer></script>


{% endblock %}