{% extends "home.html" %}
{% block content %}
<h1 id="createPostTitle">Create a Post</h1>
<h1 id="createEventTitle" style="display: none">Create an Event</h1>
<div class="dropdown">
  <button id="btnDropdown" onclick="openDropMenu()" class="dropbtn">Create a Post or Event <i class="fas fa-caret-down"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <button onclick="changeForm(1)" id="btnEventDropdown" class="dropdown-button">Create an event</button>
    <button onclick="changeForm(2)" id="btnPostDropdown" class="dropdown-button" style="display: none">Create a Post</button>
  </div>
</div>

<form id="post_form" method='POST'>
  {% csrf_token %}
  {{ create_post_form.as_p }}
  <button type="submit" name="btn_post">Confirm</button>
</form>
<form id="event_form" method='POST' style="display:none;">
  {% csrf_token %}
  {{ create_event_form.as_p }}
  <button type="submit" name="btn_event">Confirm</button>
</form>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function openDropMenu() {
  document.getElementById("myDropdown").classList.toggle("show");
}

/* When the user clicks on the change dropdown button,
toggle between hiding and showing the forms and swap text of buttons */
function changeForm(id) {
  postForm = document.getElementById("post_form");
  eventForm = document.getElementById("event_form");
  if (id==2) {
    document.getElementById("btnPostDropdown").style.display = "none";
    document.getElementById("btnEventDropdown").style.display = "block";
    document.getElementById("createEventTitle").style.display = "none";
    document.getElementById("createPostTitle").style.display = "block";
    postForm.style.display = "block"
    eventForm.style.display = "none"
  }
  else {
    document.getElementById("btnPostDropdown").style.display = "block";
    document.getElementById("btnEventDropdown").style.display = "none";
    document.getElementById("createEventTitle").style.display = "block";
    document.getElementById("createPostTitle").style.display = "none";
    postForm.style.display = "none"
    eventForm.style.display = "block"
  }
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<script>
    var onLoaded = function() {
        var location_input = document.getElementById('id_location');
        var autocomplete = new google.maps.places.Autocomplete(location_input);

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ2H-4oqs0b1pBNXtwydP-ne7BF6OX8DI&libraries=places&callback=onLoaded" async defer></script>


{% endblock %}