{% extends "base.html" %}
{% load static %}

{% block leftnav %}
    <li class="active">
        <a href="{% url 'hello:home' %}"><span class="glyphicon glyphicon-home" /> Home</a>
      </li>
      <li><a href="{% url 'hello:create' %}"><i class="fa fa-plus" aria-hidden="true"></i>Create</a></li>
      <li><a href="{% url 'hello:map' %}"><i class="fa fa-map" aria-hidden="true"></i>Map</a></li>
      <li><a href="{% url 'hello:create' %}"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</a></li>
{% endblock %}

{% block rightnav %}
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="{% url 'hello:account' %}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
      </li>
      <li class="navbar-right">
        <a href="{% url 'logout' %}"><i class="fa fa-user" aria-hidden="true"></i>Logout</a>
      </li>
    </ul>
{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container">
      {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}
