{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Bubbles</h1>
    <p>
      <h2>
        <b>TAM</b>
      </h2>
    </p>
    <p>
      <h3>Team members;</h3>
      Athena Gardner<br />
      Minoli Seneviratne<br />
      Tommy Lai<br />
    </p>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <h2>The vision for Bubbles</h2>
    <p>For neighbours who would like to interact with each other through different activities the Bubbles Application is a web application that allows people to plan online social events and communicate with the people nearby during social distancing. <br />
      Unlike other applications it is user friendly, the activities and chat can be limited to people nearby and all the functions are in one place.</p>
  </div>
  <hr>

</div>
{% endblock %}
