{% extends "base.html" %}
{% load static %}
{% block leftnav %}{% endblock %}

{% block rightnav %}
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i>Sign In</a>
      </li>
      <li class="navbar-right">
        <a href="{% url 'hello:register' %}"><i class="fa fa-user" aria-hidden="true"></i>Register</a>
      </li>
    </ul>
{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container">
      {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}