{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
		<form id="signup" autocomplete="on">
			<label>Username<span class="required">*</span></label>
				<input type="text" id="id_username" required><br><br>
			<label>First Name<span class="required">*</span></label>
				<input type="text" id="firstName" required><br><br>
			<label>Last Name<span class="required">*</span></label>
				<input type="text" id="lastName" required><br><br>
			<label>Email<span class="required">*</span></label>
				<input type="text" id="email" required><br><br>
			<label>Password<span class="required">*</span></label>
				<input type="password" id="password" required><br><br>
			<br><br><span>*Required fields</span><br><br>
		<input type="reset" name="cancel" value="Cancel">
		<input type="submit" name="Submit" value="Confirm">
		</form>
	</div>


{% endblock %}