{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
		<form id="signup" autocomplete="on">
			<label>Username<span class="required">*</span></label>
				<input type="text" id="id_username" required><br><br>
			<label>First Name<span class="required">*</span></label>
				<input type="text" id="firstName" required><br><br>
			<label>Last Name<span class="required">*</span></label>
				<input type="text" id="lastName" required><br><br>
			<label>Email<span class="required">*</span></label>
				<input type="text" id="email" required><br><br>
			<label>Password<span class="required">*</span></label>
				<input type="password" id="password" required><br><br>
			<br><br><span>*Required fields</span><br><br>
		<input type="reset" name="cancel" value="Cancel">
		<input type="submit" name="Submit" value="Confirm">
		</form>
	</div>
	<div class="container">
		<div class="signup">Sign Up</div>
		<div class="login">Log in</div>
		<div class="signup-form">
			<input type="text" placeholder="Your Email Address" class="input"><br>
			<input type="text" placeholder="Choose a UserName" class="input"><br>
			<input type="password" placeholder="Choose a Password" class="input"><br>
			<input type="password" placeholder="Type your Password again" class="input"><br>
		</div>
		<div class="btn">Create Account</div>

		<div class="login-form">
			<input type="text" class="input" placeholder="Email or UserName"><br>
			<input type="password" class="input" placeholder="Password"><br>
			<input type="checkbox"> Remember me<br><br>
			<div class="btn">Log In</div>
			<span><a href="#">I Forgot my Username or Password</a></span>
		</div>
	</div>



<style type="text/css">
 body{
	margin:0;
	padding: 0;
	font-family: verdana, sans-serif;
	background-color: #FFFFFF;
 }

 nav{
	width:100%;
	height: 80px;
	background-color: #029EFF;
	padding: 5px 0px;
 }

 nav ul{
	float:left;
	text-align: center;
 }

 ul li{
	list-style-type:none;
	display:inline-block;
	padding:12px;
	border-left: 1px solid #fff;
 }

 ul li a{
	text-decoration: none;
	font-size: 18px;
	padding: 12px;
	color: #fff;
 }

 i{
	margin-right: 8px;
 }

 ul li a:hover{
	color: #000101;
	font-weight: bold;
 }

 ul li.active a{
	background-color: #ffff;
	color:black;
}

.container {
	width: 450px;
	margin: 70px auto;
}

.signup, .login{
	width: 50%;
	background: #e9eaea;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	cursor:pointer;
}

.signup-form, .login-form{
	background: #e9eaea;
	box-sizing: border-box;
	padding: 40px;
	clear: both;
	width: 100%;
	height: 400px;
}

.input{
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 25px;
	border: 2px solid #fff;
	color: black;
	font-size: 14px;
	outline: none;
	transition: all 0.5s ease;
}

.input:focus{
	border: 2px solid #029EFF;
}

.btn{
	width: 100%;
	background: #029EFF;
	height: 60px;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	color: #fff;
	font-weight:bold;
	letter-spacing:1px;
	cursor:pointer;
	margin-bottom: 30px;
}
</style>




{% endblock %}