<!-- templates/registration/login.html -->

{% extends "home.html" %}
{% load static %}

{% block content %}

<h2>Change Your Password</h2>
from django.contrib.auth.models import User
u = User.objects.get(username='john')
u.set_password('new password')
u.save()




<!-- <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Change password' %}" />
</form>
 -->
 
<!--  <!-- <div class="row">
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
        <aside class="col-sm-4">
            <h2>Change Password</h2>
            <div class="card">
                {% if validlink %}
                    <article class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <button type="submit">Submit</button>
                        </form>
                    </article>
                {% else %}
                    <article class="card-body">
                        <p>
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.
                        </p>
                    </article>
                {% endif %}
            </div>
        </aside>
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
    </div>
 -->
  -->
 
 
 
 
 
<!--  <div class="breadcrumbs">
 <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
 &rsaquo; {% trans 'Password change' %}
 </div>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
   {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
   <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
</div>

<div class="form-row">
   {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div> -->
{% endblock %}