<!-- templates/registration/login.html -->

{% extends "index.html" %}
{% load static %}

{% block content %}
 <p>
        Hi, we email the password reset link to your email address, visit your mail once and follow the instruction.
        You should receive them shortly.
    </p>
    <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
    </p>
	
	<!-- <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p> -->

{% endblock %}